<div class="container">
    <div class = "text-center">
      <h2 class="form-heading"><%= image_tag(@character.image, size:"50x50") %><%= @character.name %></h2><br/>
        <%= form_with(model: @usernote) do |form| %>
          <%= form.label "1.ゲームメイク" %><br/>
          <div class="row"><%= form.text_field :content1 %></div><br/>
                
          <%= form.label "2.そのキャラに有効な行動" %><br/>
          <div class="row"><%= form.text_field :content2 %></div><br/>
                
          <%= form.label "3.相手の撃墜技" %><br/>
          <div class="row"><%= form.text_field :content3 %></div><br/>
                
          <%= form.label "4.その他注意点" %><br/>
          <div class="row"><%= form.text_field :content4 %></div><br/>

          <%= form.submit %>  
        <% end %>
     
  </div>  
</div>