<!DOCTYPE html>
<html>
  <head>
    <title>Smash Share Note</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <%= link_to "Smash Share Note", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item nav-link active"><%= link_to 'トップページ', root_path %></li>
          <li class="nav-item nav-link active"><%= link_to 'マイページ', pages_path %></li>
          <li class="nav-item nav-link active"><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          <li class="nav-item nav-link active"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="nav-item nav-link active"><%= link_to '新規ユーザー登録', new_user_registration_path %></li>
          <li class="nav-item nav-link active"><%= link_to 'ログイン', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

  <% if flash[:success] %>
  <div class="alert   alert-success"><%= success %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-danger"><%= error %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-warning"><%= alert %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>
  <%= yield %>
  </body>
</html>
